<h2 id = "message">Messages </h2>
  <table aria-describedby = 'messages index table'>
  <thead>
      <th>Title</th>
      <th>Created at</th>
      <th>Location</th>
      <th>City</th>
  </thead>
  <tbody>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.title %></td>
      <td><%= message.formatted_created_at %></td>
      <td><%= message.location.name %></td>
      <td><%= message.location.city.name %></td>
    </tr>
    <% end %>
  </tbody>
 </table><br>
 <button type = "button" class = 'btn btn-primary js-scroll-trigger'><%= link_to "Back", city_locations_path(@messages.first.location.city), :class=>'other_link' %></button>

<button type = "button" class = 'btn btn-primary js-scroll-trigger'><%= link_to "Notify Users", new_location_message_path, :class=>'other_link' %></button>
