<section class='form-division'>
  <fieldset class='form_field'>
    <h2>Enter the details to be updated</h2><br>
    <%= form_with model: [ @location, @location.users.build ] do |form| %>
    <div>
      <div class="input-container">
        <%= form.label :name %>
        <%= form.text_field :name  ,:size=>"35"%></div>
      <% @user.errors.full_messages_for(:name).each do |message| %>
      <div class="error"><%= message %></div>
      <% end %>
    </div><br>

    <div>
      <div class="input-container">
        <%= form.label :phone %>
        <%= form.text_field :phone ,:size=>"35" %></div>
      <% @user.errors.full_messages_for(:phone).each do |message| %>
      <div class="error"><%= message %></div>
      <% end %>
    </div><br>

    <div>
      <div class="input-container">
        <%= form.label :email %>
        <%= form.text_field :email ,:size=>"35" %></div>
      <% @user.errors.full_messages_for(:email).each do |message| %>
      <div class="error"><%= message %></div>
      <% end %>
    </div><br>
    <div>
      <div class="input-container">
        <%= form.label :location_id %>
        <%= collection_select(:user, :location_id, Location.all.where(city: @location.city.id), :id, :name, :include_blank=>'select location' )%>
      </div>
      <% @user.errors.full_messages_for(:location).each do |message| %>
      <div class="error"><%= message %></div>
      <% end %>
    </div><br>

    <div>
      <button type="button"
        class='btn btn-primary js-scroll-trigger'><%= link_to "Back", location_users_path, :class=>'other_link' %></button>
    </div>


    <% end %>
  </fieldset>
</section>