<% if @customers.count.positive? %>
  <h2 id="user">Customers </h2>
  <table aria-describedby = 'customer index table'>
    <thead>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email-id</th>
      <th>Location</th>
      <th>City</th>
      <th>Edit</th>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.location.name %></td>
        <td><%= customer.location.city.name %></td>
        <td><%= link_to 'Edit User', edit_location_customer_path(id: customer.id) %> </td>
      </tr>
      <% end %>
    </tbody>
  </table><br>
  <button type="button" class='btn btn-primary js-scroll-trigger'><%= link_to "Back", city_locations_path(city_id: @customers.first.location.city.id), :class => 'other_link' %></button>
<% else %>
  <p> This location currently has no customers, but you can add them <%= link_to 'here', new_data_import_path %>
<% end %>