<h1>Welcome user!</h1>
<p>Import your excel sheet here!</p>
<p> Note: Make sure the excel file you enter is named as the city you are entering data about.<br>For eg, if you are
  entering the data for Surat city, then your excel file should be names as 'Surat.xlsx'</p>
  <%= form_with model: @data_import, url: data_imports_path do |f| %>
    <% if @data_import.errors.any? %>
      <%= pluralize(@data_import.errors.count, "error" ) %> prevented us from
        importing your spreadsheet. Please update your spreadsheet and try agin.
        <ul>
          <% @data_import.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
            <% end %>
        </ul>
        <% end %>
    <%= f.file_field :file, :required => true %> 
    <%= f.submit "Import File" %>
  <% end %>