<section class='form-division'>
  <fieldset class='form_field'>
    <h2>Enter the details </h2><br>
    <%= form_with model: [ @city, @city.locations.build ] do |form| %>
    <div>
      <div class="input-container">
        <%= form.label :name %>
        <%= form.text_field :name ,:size=>"35" %></div>
      <% @location.errors.full_messages_for(:name).each do |message| %>
      <div class="error"><%= message %></div>
      <% end %>
    </div><br>

    <div>
      <%= form.submit 'Submit', :class=>'other_link' %>&nbsp;<button type="button" class="btn btn-primary js-scroll-trigger"><%= link_to "Back", city_locations_path, :class=>'other_link' %></button>
    </div>


    <% end %>
  </fieldset>
</section>